body {
    width: 1000px;
}
#importantinfo tr td:nth-child(1) {
    text-align: right;
}
#importantinfo tr td:nth-child(3) {
    text-align: right;
}
#importantinfo tr td:nth-child(5) {
    text-align: right;
}
#importantinfo tr td:nth-child(7) {
    text-align: right;
}