<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>l10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{434,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,36}}</string>
                <key>sourceSize</key>
                <string>{434,36}</string>
            </dict>
            <key>l11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{434,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,41}}</string>
                <key>sourceSize</key>
                <string>{434,41}</string>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{434,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,56}}</string>
                <key>sourceSize</key>
                <string>{434,56}</string>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{434,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,95}}</string>
                <key>sourceSize</key>
                <string>{434,95}</string>
            </dict>
            <key>l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>l7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{434,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,56}}</string>
                <key>sourceSize</key>
                <string>{434,56}</string>
            </dict>
            <key>l8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{434,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,41}}</string>
                <key>sourceSize</key>
                <string>{434,41}</string>
            </dict>
            <key>l9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,40}</string>
            </dict>
            <key>m10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{434,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,40}}</string>
                <key>sourceSize</key>
                <string>{434,40}</string>
            </dict>
            <key>m11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,40}</string>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{434,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,39}}</string>
                <key>sourceSize</key>
                <string>{434,39}</string>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{434,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,51}}</string>
                <key>sourceSize</key>
                <string>{434,51}</string>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,96}}</string>
                <key>sourceSize</key>
                <string>{434,96}</string>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{434,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,51}}</string>
                <key>sourceSize</key>
                <string>{434,51}</string>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{434,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,39}}</string>
                <key>sourceSize</key>
                <string>{434,39}</string>
            </dict>
            <key>m9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{434,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,36}}</string>
                <key>sourceSize</key>
                <string>{434,36}</string>
            </dict>
            <key>r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{434,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,41}}</string>
                <key>sourceSize</key>
                <string>{434,41}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,438},{434,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,56}}</string>
                <key>sourceSize</key>
                <string>{434,56}</string>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{434,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,95}}</string>
                <key>sourceSize</key>
                <string>{434,95}</string>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{434,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,72}}</string>
                <key>sourceSize</key>
                <string>{434,72}</string>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,438},{434,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,56}}</string>
                <key>sourceSize</key>
                <string>{434,56}</string>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{434,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,41}}</string>
                <key>sourceSize</key>
                <string>{434,41}</string>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{434,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,32}}</string>
                <key>sourceSize</key>
                <string>{434,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rope.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b076b6b417c39d1bf7f404685d0794f$</string>
            <key>textureFileName</key>
            <string>rope.png</string>
        </dict>
    </dict>
</plist>
