<!DOCTYPE html>
<html>
<head>
<title>Add User</title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
</head>
<body>
<h1><%= title %></h1>
<form name="adduser" method="post" action="/adduser">
<input type="text" placeholder="username" name="username" />
<input type="text" placeholder="useremail" name="useremail" />
<input type="submit" value="Submit" />
</form>
</body>
</html>