<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,125}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,234},{105,57}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{105,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{67,57}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{67,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{85,55}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,53},{85,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,728},{85,55}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{85,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1128},{47,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,67},{47,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1188},{45,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1118},{47,27}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,63},{47,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1099},{37,29}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{37,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{111,57}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{111,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,913},{67,55}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{67,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,686},{77,57}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,51},{77,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{93,33}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,64},{93,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1159},{45,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,970},{63,55}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{63,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{65,55}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,53},{65,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,418},{53,33}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{53,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,581},{93,29}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,64},{93,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,845},{71,35}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,61},{71,35}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1099},{47,27}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{47,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1186},{45,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1186},{45,27}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,67},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{49,27}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{49,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,745},{77,33}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,61},{77,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,882},{67,55}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{67,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,476},{95,33}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,63},{95,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,999},{63,29}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{63,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{73,33}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,61},{73,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,629},{71,55}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{71,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1027},{63,27}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{63,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1186},{45,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,67},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{59,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{59,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1008},{53,27}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{53,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,939},{65,29}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{65,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{51,29}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{51,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,453},{53,29}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{53,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,913},{39,29}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,65},{39,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1030},{59,27}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{59,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,600},{61,27}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{61,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{71,29}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{71,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1056},{55,29}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{55,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,785},{85,29}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,65},{85,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1090},{49,29}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{49,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1121},{39,27}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,67},{39,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,326},{101,27}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,63},{101,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1157},{45,27}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,63},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,851},{71,29}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{71,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{89,27}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,66},{89,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1087},{49,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,62},{49,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{105,29}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,65},{105,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,882},{69,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,62},{69,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,970},{65,27}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{65,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1147},{45,29}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{45,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1037},{55,29}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{55,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{47,29}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,62},{47,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,669},{85,57}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{85,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,484},{85,57}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,50},{85,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,177},{107,55}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{107,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,61},{107,57}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{107,57}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{59,29}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{59,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1142},{47,27}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{47,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{95,35}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{95,35}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,546},{93,33}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,63},{93,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{93,33}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,63},{93,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,511},{93,33}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,63},{93,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,293},{105,31}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,63},{105,31}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,412},{97,33}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,64},{97,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,447},{97,27}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{97,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{93,33}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,63},{93,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{107,55}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{107,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1130},{45,27}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{45,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{107,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,65},{107,31}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,120},{107,55}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{107,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{105,31}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,65},{105,31}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,177},{105,33}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,64},{105,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{107,31}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{107,31}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{105,31}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{105,31}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,979},{53,27}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,67},{53,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,882},{39,29}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{39,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,284},{95,35}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{95,35}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,381},{49,35}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,63},{49,35}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,944},{47,33}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{47,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1068},{49,29}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{49,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,816},{73,33}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{73,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,780},{73,63}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{73,63}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1059},{51,29}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{51,29}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,355},{99,55}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,49},{99,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{79,33}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,63},{79,33}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{85,59}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{85,59}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{97,59}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{97,59}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{99,55}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,52},{99,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,612},{87,55}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{87,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{85,55}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{85,55}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>keyword_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,571},{61,27}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{61,27}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keywords.png</string>
            <key>size</key>
            <string>{256,1217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0981ee4bde964b5e3dcd3f0c5f564cd0$</string>
            <key>textureFileName</key>
            <string>keywords.png</string>
        </dict>
    </dict>
</plist>
