<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
            <key>title_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,97}}</string>
                <key>sourceSize</key>
                <string>{368,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{372,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2052ea866084b3f8b6c154273fd829dd$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
