<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{111,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,106}}</string>
                <key>sourceSize</key>
                <string>{111,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,279}}</string>
                <key>sourceSize</key>
                <string>{284,279}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{172,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{111,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,106}}</string>
                <key>sourceSize</key>
                <string>{111,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>splash_bullet_explode.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada8300e4eef9d02cbb925d0355c19df$</string>
            <key>textureFileName</key>
            <string>splash_bullet_explode.png</string>
        </dict>
    </dict>
</plist>
